$cor: #40444b;
$cor-2: #ff0000;
$cor-3: #621cd3;
$mb: 2rem;

h2 {
    color: $cor-2;
}

@import 'box';

@mixin theme($theme: Darkgray) {
    background-color: $theme;
    box-shadow: 0 0 1px rgba($theme, .25);
    color: #fff
}

.box-2 {
    @include theme 
}

.box-3 {
    @include theme($theme: blue)
}


