body {
    background-color: #CFAF96;
    font-family: 'Times New Roman', Times, serif;
}

header {
    background-color: #407040;
    width: 100%;
    height: 30%;
    text-align: center;
    padding: 10px;
    box-sizing: border-box;
}

header h1 {
    font-size: 40px;
    color: rgb(20, 20, 20);
}

div {
    margin: 50px auto;
    background-color: #B0F0AF;
    width: 80%;
    border-radius: 5px;
    display:table;
    padding: 20px;
}

article {
    width: 70%;
    padding: 10px;
    float:right;
}

article h2 {
    margin-top: 10px;
    margin-bottom: 10px;
}  

img {
    float: left;
}

td {
    width: 80px;
    font-size: 13px;
}

table {
    border-collapse: collapse;
    width: 80%;
    margin: 350px auto;
    background-color: #D7D7D7;
}

thead tr:nth-child(1) {
    background-color: #E5BF92;
}

thead tr th{
    color:#8E603A;
    padding: 3px;
    border: solid 2px black;
}

tbody tr td {
    padding: 3px;
    text-align: center;
    border: solid 2px black;
}

tbody tr td:last-child {
    border-bottom:double 1px;
    border-top: none;
    background-color: #E5BF92;
}

tbody tr td:first-child {
    text-align: left;
}

tfoot tr {
    padding: 1px;
    border: solid 2px black;
}



