body {
    font-family: 'Honk', system-ui; /* define o tipo de fonte */
    font-weight: bold; /* define o peso do texto */
    font-size: medium; /* define o tamanho da fonte*/
    letter-spacing: normal; /* define o espaçamento entre letras*/


}

