body {
    font-family: sans-serif;
}
h1 {
    font-size: 40px;
}
h2 {
    font-size: 20px;
}
header {
    background-color:dimgrey;
    color:white;
    text-align: center;
    height: 100px;
    padding: 25px;
}
nav {
    background-color:lightgray;
    padding: 10px;
}
section {
    background-color:white;
}
article {
    margin-left: 420px;
    margin-top: -106px;
    background-color:gainsboro;
    padding: 10px;
}
footer {
    background-color:dimgrey;
    text-align: center;
    padding: 10px;
}